<h1>Details of {{ people.name }}</h1>

<nz-tabset>
  <nz-tab nzTitle='Info'>
    <nz-form-item>
      <nz-form-label [nzXs]="24" [nzSm]="4">
        <strong>ID</strong>
      </nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="20">
        {{people.id}}
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzXs]="24" [nzSm]="4">
        <strong>Name</strong>
      </nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="20">
        {{people.name}}
      </nz-form-control>
    </nz-form-item>
  </nz-tab>
  <nz-tab nzTitle='ID Card'>
    <input
      #fileInput
      hidden
      type="file"
      (change)="onSelectImage($event); $any(fileInput).value = null"
      accept="image/x-png,image/jpg,image/jpeg"
    />
    <button nz-button (click)="fileInput.click()">
      <i nz-icon nzType="upload"></i>
      Choose file to Upload
    </button>
    <br />
    <div *ngIf='fileToUpload'>
      {{fileToUpload.name}}
      <button nz-button nzType="primary" nzDanger (click)='fileToUpload = null;'>
        Delete
      </button>
    </div>
    <br />
    <div>
      <button [disabled]='!fileToUpload' nz-button nzType="primary" (click)='onUploadIdCard()'>
        Upload
      </button>
    </div>
  </nz-tab>
</nz-tabset>
